# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

#@reboot /usr/bin/python /home/pi/GPIOTest/server.py >& /home/pi/GPIOTest/foo.txt &
@reboot /usr/local/bin/gunicorn -b 127.0.0.1:8080 --chdir /home/pi/GPIOTest --error-logfile gunicorn.log server:app
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin
3,8,13,18,23,28,33,38,43,48,53,58 * * * * sleep 15 ; curl -s http://sync.afraid.org/u/v125XSZAVjiArfXhc3j40iX2/ >> /tmp/freedns_hottub_mooo_com.log 2>/dev/null
