<!-- I use this: http://htmleditor.tools/ -->
<h1><strong>Living Room</strong></h1>
<p><a href="allOff"></a></p>
<table style="width: 401px;">
<tbody>
<tr>
<td style="width: 127px;">
<p><a href="lightOnOff/100/1">Turn all On</a></p>
<p><a href="lightOnOff/100/0">Turn all Off</a></p>
</td>
<td style="width: 262px;">
<table style="width: 217px;" height="120">
<tbody>
<tr>
<td style="width: 100px;"><a href="lightOnOff/1/1">On</a></td>
<td style="width: 101px;"><a href="lightOnOff/1/0">Off</a></td>
</tr>
<tr>
<td style="width: 100px;"><a href="lightOnOff/2/1">On</a></td>
<td style="width: 101px;"><a href="lightOnOff/2/0">Off</a></td>
</tr>
<tr>
<td style="width: 100px;"><a href="lightOnOff/3/1">On</a></td>
<td style="width: 101px;"><a href="lightOnOff/3/0">Off</a></td>
</tr>
<tr>
<td style="width: 100px;"><a href="lightOnOff/4/1">On</a></td>
<td style="width: 101px;"><a href="lightOnOff/4/0">Off</a></td>
</tr>
<tr>
<td style="width: 100px;"><a href="lightOnOff/5/1">On</a></td>
<td style="width: 101px;"><a href="lightOnOff/5/0">Off</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<hr />
<h1><strong>Bedroom</strong></h1>
<p><a href="allOff"></a></p>
<table height="134" style="width: 402px;">
<tbody>
<tr>
<td style="width: 122px;">
<p><a href="lightOnOff/101/1">Turn all On</a></p>
<p><a href="lightOnOff/101/0">Turn all Off</a></p>
</td>
<td style="width: 266px;">
<table height="121" width="224">
<tbody>
<tr>
<td style="width: 106px;"><a href="lightOnOff/6/1">On</a></td>
<td style="width: 102px;"><a href="lightOnOff/6/0">Off</a></td>
</tr>
<tr>
<td style="width: 106px;"><a href="lightOnOff/7/1">On</a></td>
<td style="width: 102px;"><a href="lightOnOff/7/0">Off</a></td>
</tr>
<tr>
<td style="width: 106px;"><a href="lightOnOff/8/1">On</a></td>
<td style="width: 102px;"><a href="lightOnOff/8/0">Off</a></td>
</tr>
<tr>
<td style="width: 106px;"><a href="lightOnOff/9/1">On</a></td>
<td style="width: 102px;"><a href="lightOnOff/9/0">Off</a></td>
</tr>
<tr>
<td style="width: 106px;"><a href="lightOnOff/10/1">On</a></td>
<td style="width: 102px;"><a href="lightOnOff/10/0">Off</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<hr />
<p></p>