<!doctype html>
<html>
<head>
	<title></title>
        <style>
            html, body {
				  background-color: gray;
            }
			h1 {
				font-size:60px;
			}
			h2 {
				font-size:40px;
			}
			button {border-radius:15px;
					background-color: white;
					border:1;
					padding:15px 25px;
					font-family:Helvetica,sans-serif;
					color:red;
					font-weight:bold;
					letter-spacing:-1px;
					font-size:60px;
					text-transform:uppercase;
					width: 300px;
					margin:10px auto;}
			.primary {
				color:blue;
				}
			.secondary {
					color:red;
					font-size:50px;
					width: 130px;
				}
		</style>
</head>
<body><!-- I use this: https://www.quackit.com/html/online-html-editor/full/-->
<table height="26" width="500">
	<tbody>
		<tr>
			<td><h2><a href="http://hottub.mooo.com/Pook">Hot tub</a></h2></td>
			<td><h2><a href="http://heaterjl.mooo.com">Heater</a></h2></td>
		</tr>
	</tbody>
</table>

<h1><strong>Living Room</strong></h1>

<table style="width: 401px;">
	<tbody>
		<tr>
			<td style="width: 80;">
			<p><button type="button" class="primary" onclick="location.href='lightOnOff/100/1';">All On!</button></p>
			<p><button type="button" class="primary" onclick="location.href='lightOnOff/100/0';">All Off!</button></p>
			<p><button type="button" class="primary" onclick="location.href='lightOnOff/102/1';">All On!</button></p>
			<p><button type="button" class="primary" onclick="location.href='lightOnOff/102/0';">All Off!</button></p>
			</td>
			<td style="width: 262px;">
			<table height="120" style="width: 120px;">
				<tbody>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/1/1';">1</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/1/0';">Off</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/2/1';">2</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/2/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/3/1';">3</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/3/0';">Off</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/4/1';">4</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/4/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/5/1';">5</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/5/0';">Off</button></td>
					</tr>

					<tr>
						<td> <p> </p> </td>
						<td> <p> </p> </td>
					</tr>
					
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/11/1';">6</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/11/0';">Off</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/12/1';">7</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/12/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/13/1';">8</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/13/0';">Off</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/14/1';">9</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/14/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/15/1';">10</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/15/0';">Off</button></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<hr />
<h1><strong>Backyard</strong></h1>

<table style="width:500px;">
	<tbody>
		<tr>
			<td><button type="button" class="primary" onclick="location.href='lightOnOff/17/1';">Path On</button></td>
			<td><button type="button" class="primary" onclick="location.href='lightOnOff/17/0';">Path Off</button></td>
		</tr>
		<tr>
			<td><button type="button" class="primary" onclick="location.href='lightOnOff/18/1';">Yard On</button></td>
			<td><button type="button" class="primary" onclick="location.href='lightOnOff/18/0';">Yard Off</button></td>
		</tr>
	</tbody>
</table>

<hr />
<h1><strong>Bedroom</strong></h1>

<p>&nbsp;</p>

<table style="width: 401px;">
	<tbody>
		<tr>
			<td style="width: 80;">
			<p><button type="button" class="primary" onclick="location.href='lightOnOff/101/1';">All On!</button></p>
			<p><button type="button" class="primary" onclick="location.href='lightOnOff/101/0';">All Off!</button></p>
			</td>
			<td style="width: 262px;">
			<table height="120" style="width: 120px;">
				<tbody>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/6/1';">On</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/6/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/7/1';">On</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/7/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/8/1';">On</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/8/0';">Off</button></td>
					</tr>
					<tr>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/9/1';">Fan +</button></td>
						<td><button type="button" class="secondary" onclick="location.href='lightOnOff/9/0';">Fan x</button></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>


<hr />
<p>&nbsp;</p>
</body>
</html>
