<!doctype html>
<html>
<head>
	<title></title>
</head>
<body><!-- I use this: https://www.quackit.com/html/online-html-editor/full/-->
<table height="26" width="392">
	<tbody>
		<tr>
			<td style="width: 135px;"><a href="http://hottub.mooo.com/Pook">Hot tub</a></td>
			<td style="width: 123px;"><a href="http://heaterjl.mooo.com">Heater</a></td>
			<td style="width: 112px;"><a href="http://lightsjl.mooo.com/">Lights</a></td>
		</tr>
	</tbody>
</table>

<h1><strong>Living Room</strong></h1>

<table style="width: 401px;">
	<tbody>
		<tr>
			<td style="width: 127px;">
			<p><input onclick="location.href='lightOnOff/100/1';" type="button" value="All On" /></p>
			<p><input onclick="location.href='lightOnOff/100/0';" type="button" value="All Off" /></p>
			<p><input onclick="location.href='lightOnOff/102/1';" type="button" value="All On" /></p>
			<p><input onclick="location.href='lightOnOff/102/0';" type="button" value="All Off" /></p>
			</td>
			<td style="width: 262px;">
			<table height="120" style="width: 217px;">
				<tbody>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/1/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/1/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/2/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/2/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/3/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/3/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/4/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/4/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/5/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/5/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/11/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/11/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/12/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/12/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/13/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/13/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/14/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/14/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/15/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/15/0';" type="button" value="Off" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h1><strong>Backyard</strong></h1>

<table style="width:500px;">
	<tbody>
		<tr>
			<td style="width: 200px; text-align: center;"><input onclick="location.href='http://lightsjl.mooo.com/Path/1';" type="button" value="Path On" /></td>
			<td style="width: 200px; text-align: center;"><input onclick="location.href='http://lightsjl.mooo.com/Path/0';" type="button" value="Path Off" /></td>
		</tr>
		<tr>
			<td style="width: 200px; text-align: center;"><input onclick="location.href='http://lightsjl.mooo.com/Light/1';" type="button" value="Lights On" /></td>
			<td style="width: 200px; text-align: center;"><input onclick="location.href='http://lightsjl.mooo.com/Light/0';" type="button" value="Lights Off" /></td>
		</tr>
	</tbody>
</table>

<hr />
<h1><strong>Bedroom</strong></h1>

<p>&nbsp;</p>

<table style="width: 401px;">
	<tbody>
		<tr>
			<td style="width: 127px;">
			<p><input onclick="location.href='lightOnOff/101/1';" type="button" value="All On" /></p>

			<p><input onclick="location.href='lightOnOff/101/0';" type="button" value="All Off" /></p>
			</td>
			<td style="width: 262px;">
			<table height="120" style="width: 217px;">
				<tbody>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/6/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/6/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/7/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/7/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/8/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/8/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/9/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/9/0';" type="button" value="Off" /></td>
					</tr>
					<tr>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/10/1';" type="button" value="On" /></td>
						<td style="width: 100px;"><input onclick="location.href='lightOnOff/10/0';" type="button" value="Off" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp;</p>
</body>
</html>
