<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>

<style>
h3 {text-align: center;}
h4 {text-align: left;}
span {font-weight: bold;}
</style>

<script type=text/javascript>
	
	// Javascript function for up button
	function onTempUp() {
		$.getJSON('/_tempUp', function(data)
		{
			$("#targetTemperatureValue").text(data.targetTemperatureValue);
		});
	}
	
	// Javascript function for down button
	function onTempDown() {
		$.getJSON('/_tempDown', function(data)
		{
			$("#targetTemperatureValue").text(data.targetTemperatureValue);
		});
	}
	
	// Read all temps, when the page is reloaded.
	function getFullData() {
		$.getJSON('/_getFullData');
	}
	
	// This is called at regular intervals when the page is loaded.
	function getTemperature() 
	{
		$.getJSON('/_getTubStatus', function(data)
			{
				$("#temperatureValue").text(data.temperatureValue);
				$("#heaterValue").text(data.heaterValue);
				$("#setTemperatureValue").text(data.setTemperatureValue);
				$("#targetTemperatureValue").text(data.targetTemperatureValue);
				$("#upTime").text(data.upTime);
				$("#lastMessage").text(data.lastMessage);
				setTimeout(function(){getTemperature();},1000);
			});
	}

	// This is a JQuery shorthand to define a function that's called when the page is loaded.
    $(
		function() 
		{
			// Binds the ajax request _pageUnload to onbeforeunload of the window.
			window.onbeforeunload = function(){
				// The ajax request must return something, but it's OK to ignore it.
				$.get('/_pageUnload');
			};

			// This does an Ajax request for /_getFullData.
			$.getJSON('/_getFullData');
			
			// You can also call a regular javascipt function:
			// onTempDown();
			getTemperature();
		}
    );
	    
    $(
		// You can put more code to be executed at page loading in here but it has to be inside a function.
//		function () {
//		$.getJSON('/_tempUp');
//		}
    );
	

</script>
<!-- Simple JQuery Mobile page that display the getTemperature state on the breadoard -->
<!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->

<div data-role="page" data-theme="b">
  <div data-role="header">
    <div><h2><center>HOT TUB CONTROL</center></h2></div>
  </div>
  
  <div data-role="content">
    <p><h2>Hot Tub temperature: <span id="temperatureValue"></span> F<br>Heater: <span id="heaterValue"></span> </h2></p>
    <br>
    <p><h2>Hot Tub Set Temp: <span id="setTemperatureValue"></span> F</h2></p>
    <p><h2>Hot Tub Target Temp: <span id="targetTemperatureValue"></span> F</h2></p>
	<div data-role="fieldcontain">
		<fieldset class="ui-grid-a">
				<div class="ui-block-a"><button name="Up" id="Up" onclick="onTempUp()" data-theme="d">UP</button></div>
				<div class="ui-block-b"><button name="Down" id="Down" onclick="onTempDown()" data-theme="d">DOWN</button></div>
				<!-- <div class="ui-block-b"><button name="tst" id="tst" onclick="test()" data-theme="d">TST</button></div> -->
	    </fieldset>
	</div>
  </div>
 <div data-role="footer">
    <div ><h4><span id="lastMessage" ></span></h4></div>
    <div><h4><span id="upTime"></span></h4></div>
  </div>
</div>