<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
</head>

<style>
h3 {text-align: center;}
h4 {text-align: left;}
span {font-weight: bold;}
</style>

<script type=text/javascript>
		
    $(
    // When the LED getTemperature is pressed (change)
    // do an ajax request to server to change LED state
    function() 
    {
        $('#Up').click(function() 
        {
			$.getJSON('/_tempUp', function(data)
            {
                $("#targetTemperatureValue").text(data.targetTemperatureValue);
            });
        });
		
        $('#Down').click(function() 
        {
			$.getJSON('/_tempDown', function(data)
            {
                $("#targetTemperatureValue").text(data.targetTemperatureValue);
            });
        });
    }
    );

    $(
    // periodically (500ms) do an ajax request to get the getTemperature state
    // modify the span tag to reflect the state (pressed or not)
    // the state text comes from the JSON string returned by the server
    function getTemperature() 
    {
        $.getJSON('/_getTubStatus', function(data)
            {
                $("#temperatureValue").text(data.temperatureValue);
                $("#heaterValue").text(data.heaterValue);
                $("#setTemperatureValue").text(data.setTemperatureValue);
                $("#targetTemperatureValue").text(data.targetTemperatureValue);
                $("#upTime").text(data.upTime);
                $("#lastPrint").text(data.lastPrint);
                setTimeout(function(){getTemperature();},1000);
            });
    }
    );
    

</script>
<!-- Simple JQuery Mobile page that display the getTemperature state on the breadoard -->
<!-- You can also change the LED state with the slider switch -->
<!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->

<div data-role="page" data-theme="b">
  <div data-role="header">
    <div><h2><center>HOT TUB CONTROL</center></h2></div>
  </div>

  <div data-role="content">
    <p><h2>Hot Tub temperature: <span id="temperatureValue"></span> F<br>Heater: <span id="heaterValue"></span> </h2></p>
    <br>
    <br>
    <p><h2>Hot Tub Set Temp: <span id="setTemperatureValue"></span> F</h2></p>
    <p><h2>Hot Tub Target Temp: <span id="targetTemperatureValue"></span> F</h2></p>
	<br>
	<div data-role="fieldcontain">
		<fieldset class="ui-grid-a">
				<div class="ui-block-a"><button name="Up" id="Up" type="submit" data-theme="d">UP</button></div>
				<div class="ui-block-b"><button name="Down" id="Down" type="submit" data-theme="d">DOWN</button></div>
	    </fieldset>
	</div>
  </div>
 <div data-role="footer">
    <div ><h4><span id="lastPrint" ></span></h4></div>
	<br>
    <div><h4><span id="upTime"></span></h4></div>
  </div>
</div>