<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<style>
h3 {text-align: center;}
h4 {text-align: left; color: green}
span {font-weight: bold;}
</style>

<script type=text/javascript>

	var dataLen = 0;
	
	// Javascript function for top button
	function onTopTemp(val) {
		$.getJSON('/incTopTemp/'+val, function(data)
		{
			$("#topTarget").text(data.topTarget);
		});
	}
	
	// Javascript function for bot button
	function onBotTemp(val) {
		$.getJSON('/incBotTemp/'+val, function(data)
		{
			$("#botTarget").text(data.botTarget);
		});
	}

	function onOnOff() {
		$.getJSON('/onOff', function(data)
		{
			$("#OnOff").text(data.onOff);
			$("#OnOff").attr('style',data.onOff.includes("OFF") ? 'color:white' : 'color:red');
		});
	}
	
<!--	// Read all temps, when the page is reloaded.-->
<!--	function getFullData() {-->
<!--		$.getJSON('/_getFullData');-->
<!--	}-->
	
	// This is called at regular intervals when the page is loaded.
	function getTemperature() 
	{
		$.getJSON('/getTemps', function(data)
			{
				// The text() is a method of the selector to set the text of the selected elements.
				// For general attributes, you use .attr(). $("#temperatureValue") is a selector, not a element from the DOM!
				// Since many elements might match.
				$("#topTemp").text(data.topTemp);
				$("#botTemp").text(data.botTemp);
				$("#topTarget").text(data.topTarget);
				$("#botTarget").text(data.botTarget);
				$("#topPWM").text(data.topPWM);
				$("#botPWM").text(data.botPWM);
				$("#ambientTemp").text(Math.round(data.ambientTemp*1.8+32));
				$("#time").text(data.time);
				$("#OnOff").text(data.onOff);
				$("#OnOff").attr('style',data.onOff.includes("OFF") ? 'color:white' : 'color:red');
				$("#time")[0].style.fontSize = "small";
				if(dataLen != data.dataLen)
				{
					redraw();
					dataLen = data.dataLen
				}

<!--				$("#heaterValue").text(data.heaterValueStr);-->
<!--				$("#setTemperatureValue").text(data.setTemperatureValue);-->
<!--				$("#targetTemperatureValue").text(data.targetTemperatureValue);-->
<!--				$("#outsideTemperature").text(data.outsideTemperature);-->
<!--				$("#minTemp").text(data.minAirTemp);-->
<!--				$("#maxTemp").text(data.maxAirTemp);-->
<!--				$("#upTime").text(data.upTime);-->
<!--				$("#prevDay").text(data.prevDayStr);-->
<!--				$("#nextDay").text(data.nextDayStr);-->
<!--				$("#lastMessage").text(data.lastMessage);-->
<!--				$("#heaterStats0").text(data.heaterStats[1]);-->
				// To set a color, set the style to "color:red"
<!--				$("#heaterValue").attr('style',data.heaterValueStr == "OFF" ? 'color:white' : 'color:red');-->
<!--				$("#setTemperatureValue").attr('style',data.tempAdjust ? 'color:yellow' : 'color:white');-->
<!--				$("#temperatureValue").attr('style',data.isAdjustingTemp ? 'color:yellow' : 'color:white');-->
<!--				$("#Up").attr('disabled',data.allowControl ? false : true);-->
<!--				$("#Down").attr('disabled',data.allowControl ? false : true);-->
<!--				$("#Sche").attr('disabled',data.allowControl ? false : true);-->
<!--				if (data.newHeaterData) redraw();-->
				// These would also work!
				// document.getElementById("heaterValue").style="color:green";
				// document.getElementById("heaterValue").style.color="green";
				// document.getElementById("heaterValue").style="font-size:300%";
				// You can use this to write to the console (view it on the browser) console.log("asdfasdfasdf"); You can put breakpoints in your javascript and inspect
				// various things in the console.
				setTimeout(function(){getTemperature();},1000);
			});
	}
	

	// This is a JQuery shorthand to define a function that's called when the page is loaded.
    $(
		function() 
		{
			// Binds the ajax request _pageUnload to onbeforeunload of the window.
			window.onbeforeunload = function(){
				// The ajax request must return something, but it's OK to ignore it.
				$.get('/_pageUnload');
			};

			// This does an Ajax request for /_getFullData.
			//$.getJSON('/_getFullData');
			
			// You can also call a regular javascipt function:
			getTemperature();
			window. addEventListener ( "resize" , function ( event ) {redraw();});
		}
    );
	
	function redraw() {
		$.getJSON('/getTempHist', function(data) {
			Plots = document.getElementById('Plots');
			//Plots.style = {width:window.innerWidth , height:150};
			var X = data.xVals;
			var Y = data.yValsTop;
			// second arg is data, third arg is layout.
			var layout = { margin: { t: 30, l:30, r:20 },
			  xaxis: {
				title: 'Time',
				showgrid: true,
				zeroline: false,
				color: 'rgba(256,256,0,1)',
			  },
				paper_bgcolor : 'rgba(0,0,0,0)',
				plot_bgcolor : 'rgba(0,0,0,0)',
			yaxis: {
				title: '',
				showline: true,
				showgrid: true,
				//range:[0, 80],
				//tickvals: [0,1],
				//ticktext: ['0','1'],
				color: 'rgba(256,256,0,1)'
			  },
			showlegend : true,
			title: "Temp History",
			height: 500,
			titlefont: {color: 'yellow'},
			  };
			var d = new Date()
			var hours = d.getHours() + d.getMinutes()/60.0
			Plotly.newPlot( Plots, [{x: X,y: data.yValsTop, name:"Top"},{x: X,y: data.yValsBot, name:"Bottom"}], layout );
			//Plotly.newPlot( Plots, [{x: X,y: data.yValsBot}], layout );
			});
	}
	
    $(
		// You can put more code to be executed at page loading in here but it has to be inside a function.
//		function () {
//		$.getJSON('/_tempUp');
//		}
		function() {
			redraw()
		}
    );
	
</script>
<!-- Simple JQuery Mobile page that display the getTemperature state on the breadoard -->
<!-- The Raspberry Pi uptime is displayed in the footer (Jinja2 expands the template tag) -->

<div data-role="page" data-theme="b">
  <div data-role="header">
    <div><h2><center>PIZZA CONTROL</center></h2></div>
  </div>
	
  <div data-role="content">
<fieldset class="ui-grid-c">
	<div class="ui-block-a">
		<span> <h2>Top temp: <span id="topTemp"></span> C</h2></span>
	</div>
	<div class="ui-block-b">
		<span> <h2>Target: <span id="topTarget"></span> C</h2></span>
	</div>
	<div class="ui-block-c">
		<span> <h2>PWM: <span id="topPWM"></span></h2></span>
	</div>
	<div class="ui-block-a">
		<span> <h2>Bot temp: <span id="botTemp"></span> C</h2></span>
	</div>
	<div class="ui-block-b">
		<span> <h2>Target: <span id="botTarget"></span> C</h2></span>
	</div>
	<div class="ui-block-c">
		<span> <h2>PWM: <span id="botPWM"></span></h2></span>
	</div>
</fieldset>
    <p><h2>Ambient Temp: <span id="ambientTemp"></span> F </h2></p>
    <p><span id="time"></span></p>
	<div data-role="fieldcontain">
		<fieldset class="ui-grid-c">
			<div class="ui-block-a"><button name="OnOff" id="OnOff" onclick="onOnOff()" data-theme="d">ON?OFF</button></div>
		<fieldset class="ui-grid-c">
			<div class="ui-block-a"><button name="Up" id="TopUp" onclick="onTopTemp(+5)" data-theme="d">TOP UP</button></div>
			<div class="ui-block-b"><button name="Down" id="TopDown" onclick="onTopTemp(-5)" data-theme="d">TOP DOWN</button></div>
			<div class="ui-block-a"><button name="Up" id="BotUp" onclick="onBotTemp(+5)" data-theme="d">BOT UP</button></div>
			<div class="ui-block-b"><button name="Down" id="BotDown" onclick="onBotTemp(-5)" data-theme="d">BOT DOWN</button></div>
	    </fieldset>
	</div>
  </div>
 <div data-role="footer">
    <div ><h4><span id="lastMessage" ></span></h4></div>
    <div><h4><span id="upTime" ></span></h4></div>
  </div>
<div id="Plots" style="width:auto;height:250px;"></div>
 </div>
